body {
  font-family: sans-serif;
  padding: 20px;
  margin: 0;
}

.contenitore-centrato {
  width: 550px;
  margin: 0 auto;
}

.riga-superiore {
  height: 170px; 
  margin-bottom: 20px;
}

.box-viola {
  float: left;
  background-color: #800080;
  color: white;
  width: 150px;
  height: 150px;
  padding: 15px;
  border-radius: 8px;
  margin-right: 20px;
}

.testo-fianco {
  margin: 0;
  font-size: 18px;
  padding-top: 15px;
}

.testo-sotto {
  margin: 0;
  font-size: 18px;
}
